.Plants {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;

    .body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;

        .sortBy {
            display: flex;
            flex-direction: row;

            span {
                align-items: center;
                background-color: transparent;
                border-bottom: 1px solid black;
                border-bottom-left-radius: 3px;
                border-left: 1px solid black;
                border-top: 1px solid black;
                border-top-left-radius: 3px;
                display: flex;
                font-family: $raleway-regular;
                font-size: 10pt;
                justify-content: center;
                text-align: center;
                width: 100px;
            }

            button {
                appearance: none;
                background-color: transparent;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
                border-top: 1px solid black;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
                box-shadow: none;
                height: 30px;
                width: 30px;

                img {
                    width: 100%;
                }
            }

        }

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.DropDown {
    background-color: $background-gray;
    position: absolute;
    top: 315px;
    width: 150px;
    z-index: 10;

    div {
        color: white;
        font-family: $raleway-regular;
        padding: 10px;
    }

    div:hover {
        background-color: $highlighted-gray; 
    }
}