@font-face {
  font-family: 'Aldine Regular';
  src: url("./fonts/Aldine.ttf"); }

@font-face {
  font-family: 'Raleway Regular';
  src: url("./fonts/Raleway-Regular.ttf"); }

@font-face {
  font-family: 'Raleway Light';
  src: url("./fonts/Raleway-Light.ttf"); }

.Community {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .Community .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%; }
    .Community .body img {
      margin-right: 10px;
      object-fit: cover; }
    .Community .body p {
      font-family: "Raleway Regular"; }

.Events {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .Events .body {
    display: flex;
    flex-direction: column;
    width: 70%; }
    .Events .body .main-event {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .Events .body .main-event img {
        height: 300px;
        margin: 5px;
        object-fit: cover;
        width: 615px; }
      .Events .body .main-event .event-desc {
        display: flex;
        flex-direction: column; }
        .Events .body .main-event .event-desc h1 {
          font-family: "Raleway Regular"; }
        .Events .body .main-event .event-desc p {
          font-family: "Raleway Regular";
          font-size: 10pt;
          margin-left: 5px; }
    .Events .body .sub-events {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .Events .body .sub-events .img-button {
        display: flex;
        flex-direction: column;
        margin: 5px;
        width: 100%; }
        .Events .body .sub-events .img-button img {
          object-fit: cover;
          height: 300px;
          width: 300px; }
        .Events .body .sub-events .img-button div {
          align-items: center;
          background-color: #373736;
          color: white;
          display: flex;
          font-family: "Raleway Regular";
          font-size: 10pt;
          height: 30px;
          width: 300px;
          z-index: 1; }

.Footer {
  align-items: center;
  background-color: #373736;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-around;
  width: 100%; }
  .Footer .subscribe {
    margin: 5px; }
    .Footer .subscribe input {
      background-color: #373736;
      border: 2px solid white;
      color: white;
      font-family: "Raleway Regular"; }
    .Footer .subscribe input:focus {
      outline: none; }
    .Footer .subscribe button {
      background-color: white;
      border: 2px solid white;
      color: black;
      font-family: "Raleway Regular";
      text-decoration: none;
      width: 50px; }
    .Footer .subscribe button:hover {
      background-color: white; }
  .Footer .socialLinks {
    margin: 5px; }
    .Footer .socialLinks img {
      margin: 3px; }
  .Footer p {
    color: white;
    font-family: "Raleway Regular";
    font-size: 10pt;
    margin: 5px; }

.Header {
  align-items: center;
  background-color: #373736;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-around;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%; }
  .Header .links {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: "Raleway Light";
    font-size: 12pt;
    justify-content: space-between;
    width: 30%; }
    .Header .links a:link {
      text-decoration: none;
      color: lightgray; }
    .Header .links a:visited {
      color: lightgray; }
    .Header .links a:hover {
      color: white; }
    .Header .links a:active {
      color: white; }

.Home {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .Home .body {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%; }
    .Home .body .img-button {
      display: flex;
      flex-direction: column;
      margin: 5px;
      width: 100%; }
      .Home .body .img-button img {
        object-fit: cover;
        height: 300px;
        width: 300px; }
      .Home .body .img-button div {
        align-items: center;
        background-color: #373736;
        color: white;
        display: flex;
        font-family: "Raleway Regular";
        font-size: 10pt;
        height: 30px;
        width: 300px;
        z-index: 1; }

.Plant {
  display: flex;
  flex-direction: column;
  margin: 5px; }
  .Plant img {
    height: 200px;
    object-fit: cover;
    width: 200px; }
  .Plant .productTag {
    background-color: white;
    width: 200px; }
    .Plant .productTag p {
      font-family: "Raleway Regular";
      font-size: 10pt; }

.Plants {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .Plants .body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%; }
    .Plants .body .sortBy {
      display: flex;
      flex-direction: row; }
      .Plants .body .sortBy span {
        align-items: center;
        background-color: transparent;
        border-bottom: 1px solid black;
        border-bottom-left-radius: 3px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-top-left-radius: 3px;
        display: flex;
        font-family: "Raleway Regular";
        font-size: 10pt;
        justify-content: center;
        text-align: center;
        width: 100px; }
      .Plants .body .sortBy button {
        appearance: none;
        background-color: transparent;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-top: 1px solid black;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        box-shadow: none;
        height: 30px;
        width: 30px; }
        .Plants .body .sortBy button img {
          width: 100%; }
    .Plants .body .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }

.DropDown {
  background-color: #373736;
  position: absolute;
  top: 315px;
  width: 150px;
  z-index: 10; }
  .DropDown div {
    color: white;
    font-family: "Raleway Regular";
    padding: 10px; }
  .DropDown div:hover {
    background-color: #5b5b5a; }

.SubHeader {
  align-items: center;
  display: flex;
  height: 12vw;
  justify-content: center;
  width: 10vw;
  padding: 40px; }
